.sign-up-wrapper{
    display: flex;
    .sign-up-wrapper{
       
    }
}

.modal-popup-wrapper{
    form{
      padding: 20px;
        h1{
              font-size: 26px;
              font-family: sans-serif;
              font-weight: 700;
              border-bottom: 2px solid rgb(57, 146, 224);
              letter-spacing: .1rem;
        }
        .MuiFormControl-root{
            width: 100%;
            margin: 12px 0px 13px 0px;
        }
    }
}